
$blue:  #2980b9;
$orange: #f39c12;

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	text-align: center;
	background: #fe8c00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header {
	color: #fff;
	text-align: center;
	h1 {
		font-size: 3rem;
		font-weight: 300;
		line-height: 0.7;
		p {
			font-size: 1.2rem;
		}
	}
	hr {
		border: 1px solid #fff;
		width: 40%;
	}
}
section#topics {
	display: inline-block;
	border-radius: 3px;
	width: 500px;
	height: auto;
	margin: 1%;
	padding: 1%;
	background: #fff;
	button {
		display: inline-block;
		font-size: 1rem;
		padding: 15px;
		margin: 1%;
		border-radius: 5px;
		border: none;
		background: lighten($orange, 0);
		color: #fff;
		transition: all 0.3s ease;
		&:hover {

			background: lighten($orange, 8);
			cursor: pointer;
		}
	}
}